# Ansible Files
*.retry
*.swp

# OSX files
.DS_Store

# Ansible Inventory
hosts
win_hosts
hosts.d

# Ansible vault secret
# Used to decrypt the vault files
.ansible_vault

# Vagrant 
.vagrant

# Debug files
ansible-vars.all